@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
    height: 500vh;
    width: 100%;
    background:linear-gradient(90deg,#2b1c70 0%,#060119 100%);
    display: flex;
}
.mobile {
    flex-direction: column; /* Stack elements vertically on mobile */
}
.right{
    /* border: 1px solid black; */
    margin:0 10%;
    height: 18%;
    /* margin-top:-200%; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1%;
}
.image{
    /* width: 100%; */
}
.left{
    width: 38%;
    margin-left:-6%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    /* margin-right: 40px; */
    text-align: justify;
}
.left h1{
    font-family: "Poppins",sans-serif;
    color: white;
    font-size: 50px;
    
}
.left p{
    color: white;
    font-size: 15px;
    
    font-family: "Poppins",sans-serif;
}
.box{
    /* width: 600px; */
    /* border:1px solid black; */
    color: white;
    font-size:40px;
    margin-top: 150px;
    margin-bottom:-150px;
    display: flex;
    gap: 200px;
}
.front, .back {
    position:absolute;
    backface-visibility: hidden;
    transition: transform 1s ease;
  }
  
  .front {
    transform: rotateY(0deg); /* Front face is visible initially */
  }
  
  .back {
    transform: rotateY(180deg); /* Back face is hidden initially */
  }
  
  .flip .front {
    transform: rotateY(-180deg); /* Rotate front out of view */
  }
  
  .flip .back {
    transform: rotateY(0deg); /* Rotate back into view */
  }
  .image{
    margin-left:-290px; 
    margin-top: -280px;
}

.image2{
width: 350px;
    margin-left:-200px;
    margin-top: -280px;
  }

  .mobile .right{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;    
  }
  .mobile .image{
    margin-left:-0px;
    /* border: 1px solid black; */
    /* margin-right: 10%; */
    width:  100%;
    height: 200p;
    margin-top: -200px;
    /* border: 1px solid black; */
    /* margin-top: 2%; */
    position: relative;
    /* padding-left: -px; */

  }
  .mobile .front,.mobile .back{
    width: 85%;
    /* border: 1px solid black; */
    margin-left: -15%;
  }
  
  
  .mobile .front img{
    width: 80%;
    height: 200%;
  }
  .mobile .image2{
    width: 80%;
    margin-top: -200px;
    margin-left: -0px;
    
  }
  @keyframes moveRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  

  .iconsbox{
    color:white;
    font-size:35px;
    justify-content: center;
    align-items: center;
    display: flex;
    white-space: nowrap;
    margin:25px 0;
    overflow: hidden;
   
  }
  

  .marquee {
    display: inline-flex;
    gap: 60px; /* Adjust the space between icons */
    animation: moveRight 10s linear infinite; /* Adjust time (10s) for speed control */
  }



  .box1{
    font-size: 30px;
    color: white;
    margin-top:-150px;
    margin-left:-600px ;
  }
  .mobile .box1{
    display: flex;
    margin-top:60%;
    margin-left:90% ;
    display: block;
    color: white;
    font-size: 25px;
    /* border: 1px solid black; */
  }

  .mobile .box{
    display: flex;
    /* margin-top:80%; */
    margin-left: 100%;

    display: none;
  }
  .box {
    margin-top:50%;
  }

  .mobile .left{
    /* border: 2px solid black; */
    width: 80%;
    margin-left:10%;
    /* margin-right:20%; */
    margin-top: -180px;
  }
  .mobile .left h1{
    text-align: center;
    font-size: 2.5em;
  }
  .mobile .left p{
    margin-top:20px;
    font-size: 1.2em;
  }